<h2><%= @task.title %></h2>
<%= link_to "Edit this task", edit_task_path(@task) %>
<p class="alert alert-secondary"><%= @task.details %></p>
<p>
  <% if @task.completed %>
    <i class="fa-regular fa-square-check"></i> This task is completed
  <% else %>
    <i class="fa-regular fa-square"></i> This task is not completed yet
  <% end %>
</p>
<div class="footer">
  <%= link_to tasks_path do %>
    <i class="fa-solid fa-rotate-left"></i> Back to list
  <% end %>
</div>
